/* vendor prefixes needed for flex and transforms */
/* usually mobile first.. hence 320 media brkpt */
.container {
  padding: 20px;
}

.header {
  text-align: center;
}

.header .logo {
  width: 100px;
}

.hamburger {
}

/* @media only screen and (min-width: 320px) {

} */
